body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.navbar ul {
    list-style: none;
    background: #80c4e0;
    padding: 0;
    margin: 0;
    text-align: right;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    width: 100px;
    display: block;
    padding: 25px 20px;
    text-align: center;
}

.link {
    color: #fff;
    text-decoration: none;
    margin: 0.5em;
    font-size: 1.1em;
    transition: all 0.5s;
}

.link:hover, .link:focus {
    color: #fff582;
}

.name-input-container {
    margin: 1em;
    /* margin-left: 90px; */
}

@media (min-width: 1000px) {
    .navbar {
        justify-content: space-around;
        flex-direction: row;
    }
}

.bold {
    font-weight: 900;
}
